In [10]:
from lsst.ts.observing import ObservingBlock, ObservingScript

from sqlalchemy import create_engine
from datetime import datetime 
from pytz import timezone
import pandas as pd

import matplotlib
import matplotlib.pyplot as pyplot

In [11]:
engine = create_engine('sqlite:////sdf/data/rubin/shared/ops-rehearsal-3/scheduler_sims/ops_rehearsal_apr_2024_v3_playbackBlock.db')
Observations = pd.read_sql_table('observations', engine)

In [48]:
from astropy.time import Time
# Summarize and then select columns we want to use

print(Observations.columns)

# Make a df with selected values.

visit_info = Observations[['observationId', 'observationStartMJD', 
                           'note', 'playbackBlock']].query('playbackBlock >= 208 and playbackBlock < 258').copy()

chile_time = timezone('America/Santiago')
local_time = Time(visit_info['observationStartMJD'], format='mjd').to_datetime(timezone=chile_time)
visit_info['observationStartLocalTime'] = local_time

days = [time.day for time in local_time]
visit_info['day'] = days

# Print updated dataframe
visit_info

Index(['observationId', 'fieldRA', 'fieldDec', 'observationStartMJD',
       'flush_by_mjd', 'visitExposureTime', 'filter', 'rotSkyPos',
       'rotSkyPos_desired', 'numExposures', 'airmass', 'seeingFwhm500',
       'seeingFwhmEff', 'seeingFwhmGeom', 'skyBrightness', 'night', 'slewTime',
       'visitTime', 'slewDistance', 'fiveSigmaDepth', 'altitude', 'azimuth',
       'paraAngle', 'cloud', 'moonAlt', 'sunAlt', 'note', 'target', 'fieldId',
       'proposalId', 'block_id', 'observationStartLST', 'rotTelPos',
       'rotTelPos_backup', 'moonAz', 'sunAz', 'sunRA', 'sunDec', 'moonRA',
       'moonDec', 'moonDistance', 'solarElong', 'moonPhase', 'cummTelAz',
       'scripted_id', 'playbackBlock'],
      dtype='object')

,observationId,observationStartMJD,note,playbackBlock,observationStartLocalTime,day
12265,12265,60402.979361,Rubin_SV_125_-15,208,2024-04-02 20:30:16.825781-03:00,2
12266,12266,60402.979762,Rubin_SV_125_-15,208,2024-04-02 20:30:51.468188-03:00,2
12267,12267,60402.980160,Rubin_SV_125_-15,208,2024-04-02 20:31:25.801533-03:00,2
12268,12268,60402.980561,Rubin_SV_125_-15,208,2024-04-02 20:32:00.479516-03:00,2
12269,12269,60402.980964,Rubin_SV_125_-15,208,2024-04-02 20:32:35.282535-03:00,2
...,...,...,...,...,...,...
15154,15154,60405.417853,Rubin_SV_280_-48,257,2024-04-05 07:01:42.473404-03:00,5
15155,15155,60405.418250,Rubin_SV_280_-48,257,2024-04-05 07:02:16.793485-03:00,5
15156,15156,60405.418652,Rubin_SV_280_-48,257,2024-04-05 07:02:51.495031-03:00,5
15157,15157,60405.419050,Rubin_SV_280_-48,257,2024-04-05 07:03:25.880454-03:00,5
15158,15158,60405.419448,Rubin_SV_280_-48,257,2024-04-05 07:04:00.265438-03:00,5

In [58]:
#Group the data frame by block and print how many are in each block.
days = visit_info.groupby(['day'])

tuesday = days.get_group((2,))
wednesday = days.get_group((3,))
thursday= days.get_group((4,))
friday= days.get_group((5,))

tuesday

,observationId,observationStartMJD,note,playbackBlock,observationStartLocalTime,day
12265,12265,60402.979361,Rubin_SV_125_-15,208,2024-04-02 20:30:16.825781-03:00,2
12266,12266,60402.979762,Rubin_SV_125_-15,208,2024-04-02 20:30:51.468188-03:00,2
12267,12267,60402.980160,Rubin_SV_125_-15,208,2024-04-02 20:31:25.801533-03:00,2
12268,12268,60402.980561,Rubin_SV_125_-15,208,2024-04-02 20:32:00.479516-03:00,2
12269,12269,60402.980964,Rubin_SV_125_-15,208,2024-04-02 20:32:35.282535-03:00,2
...,...,...,...,...,...,...
12580,12580,60403.122125,Rubin_SV_225_-40,213,2024-04-02 23:55:51.583313-03:00,2
12581,12581,60403.122522,Rubin_SV_225_-40,213,2024-04-02 23:56:25.908870-03:00,2
12582,12582,60403.122919,Rubin_SV_225_-40,213,2024-04-02 23:57:00.170652-03:00,2
12583,12583,60403.123316,Rubin_SV_225_-40,213,2024-04-02 23:57:34.542629-03:00,2
12584,12584,60403.123714,Rubin_SV_225_-40,213,2024-04-02 23:58:08.917095-03:00,2

In [50]:
tuesday.groupby(['playbackBlock']).first()

,observationId,observationStartMJD,note,observationStartLocalTime,day
playbackBlock,,,,,
208,12265,60402.979361,Rubin_SV_125_-15,2024-04-02 20:30:16.825781-03:00,2
209,12325,60403.006666,COSMOS,2024-04-02 21:09:35.919606-03:00,2
210,12385,60403.034071,Rubin_SV_125_-15,2024-04-02 21:49:03.745522-03:00,2
211,12445,60403.061554,COSMOS,2024-04-02 22:28:38.225212-03:00,2
212,12505,60403.088496,DESI_SV3_R1,2024-04-02 23:07:26.060181-03:00,2
213,12565,60403.116148,Rubin_SV_225_-40,2024-04-02 23:47:15.183712-03:00,2

In [ ]:
wednesday.groupby(['playbackBlock']).first()

In [ ]:
thursday.groupby(['playbackBlock']).first()

In [ ]:
friday.groupby(['playbackBlock']).first()

In [60]:
visit_info.groupby(['playbackBlock']).first()

,observationId,observationStartMJD,note,observationStartLocalTime,day
playbackBlock,,,,,
208,12265,60402.979361,Rubin_SV_125_-15,2024-04-02 20:30:16.825781-03:00,2
209,12325,60403.006666,COSMOS,2024-04-02 21:09:35.919606-03:00,2
210,12385,60403.034071,Rubin_SV_125_-15,2024-04-02 21:49:03.745522-03:00,2
211,12445,60403.061554,COSMOS,2024-04-02 22:28:38.225212-03:00,2
212,12505,60403.088496,DESI_SV3_R1,2024-04-02 23:07:26.060181-03:00,2
213,12565,60403.116148,Rubin_SV_225_-40,2024-04-02 23:47:15.183712-03:00,2
214,12625,60403.143907,DESI_SV3_R1,2024-04-03 00:27:13.556450-03:00,3
215,12685,60403.171399,Rubin_SV_225_-40,2024-04-03 01:06:48.881835-03:00,3
216,12745,60403.198432,DEEP_A0,2024-04-03 01:45:44.487429-03:00,3
217,12805,60403.225680,Rubin_SV_225_-40,2024-04-03 02:24:58.721686-03:00,3
218,12865,60403.253256,DEEP_A0,2024-04-03 03:04:41.352047-03:00,3
219,12925,60403.281221,Rubin_SV_225_-40,2024-04-03 03:44:57.497569-03:00,3
220,12985,60403.309693,Rubin_SV_250_2,2024-04-03 04:25:57.505996-03:00,3
221,13045,60403.337146,Rubin_SV_280_-48,2024-04-03 05:05:29.410312-03:00,3
222,13105,60403.364813,Rubin_SV_250_2,2024-04-03 05:45:19.883207-03:00,3
223,13165,60403.393095,Rubin_SV_280_-48,2024-04-03 06:26:03.383418-03:00,3
224,13223,60403.978532,Rubin_SV_125_-15,2024-04-03 20:29:05.188390-03:00,3
225,13283,60404.005835,COSMOS,2024-04-03 21:08:24.109378-03:00,3
226,13343,60404.033251,Rubin_SV_125_-15,2024-04-03 21:47:52.897526-03:00,3
227,13403,60404.060755,COSMOS,2024-04-03 22:27:29.201506-03:00,3
228,13463,60404.087711,DESI_SV3_R1,2024-04-03 23:06:18.197090-03:00,3
229,13523,60404.115366,Rubin_SV_225_-40,2024-04-03 23:46:07.636400-03:00,3
230,13583,60404.143135,DESI_SV3_R1,2024-04-04 00:26:06.898859-03:00,4
231,13643,60404.170665,Rubin_SV_225_-40,2024-04-04 01:05:45.420827-03:00,4
232,13703,60404.197728,DEEP_A0,2024-04-04 01:44:43.705149-03:00,4
233,13763,60404.224985,Rubin_SV_225_-40,2024-04-04 02:23:58.673571-03:00,4
234,13823,60404.252593,DEEP_A0,2024-04-04 03:03:44.052973-03:00,4
235,13883,60404.280102,Rubin_SV_250_2,2024-04-04 03:43:20.828858-03:00,4
236,13943,60404.307424,Rubin_SV_280_-48,2024-04-04 04:22:41.410719-03:00,4
237,14003,60404.334896,Rubin_SV_250_2,2024-04-04 05:02:15.056141-03:00,4
238,14063,60404.362541,Rubin_SV_280_-48,2024-04-04 05:42:03.504287-03:00,4
239,14123,60404.389744,Rubin_SV_300_-41,2024-04-04 06:21:13.854883-03:00,4
240,14183,60404.416623,Rubin_SV_280_-48,2024-04-04 06:59:56.260890-03:00,4
241,14190,60404.977717,Rubin_SV_125_-15,2024-04-04 20:27:54.771624-03:00,4
242,14250,60405.005066,COSMOS,2024-04-04 21:07:17.669971-03:00,4
243,14310,60405.032303,DESI_SV3_R1,2024-04-04 21:46:31.007755-03:00,4
244,14370,60405.059587,COSMOS,2024-04-04 22:25:48.308104-03:00,4
245,14430,60405.086527,DESI_SV3_R1,2024-04-04 23:04:35.914377-03:00,4
246,14490,60405.114185,Rubin_SV_225_-40,2024-04-04 23:44:25.552130-03:00,4
247,14550,60405.141965,DESI_SV3_R1,2024-04-05 00:24:25.738218-03:00,5
248,14610,60405.169501,Rubin_SV_225_-40,2024-04-05 01:04:04.928671-03:00,5
249,14670,60405.196585,DEEP_A0,2024-04-05 01:43:04.906958-03:00,5
250,14730,60405.223870,Rubin_SV_225_-40,2024-04-05 02:22:22.332525-03:00,5
251,14790,60405.252100,DEEP_A0,2024-04-05 03:03:01.400562-03:00,5
252,14850,60405.279646,Rubin_SV_250_2,2024-04-05 03:42:41.418267-03:00,5
253,14910,60405.306982,Rubin_SV_280_-48,2024-04-05 04:22:03.281026-03:00,5
254,14970,60405.334460,Rubin_SV_250_2,2024-04-05 05:01:37.332370-03:00,5
255,15030,60405.362135,Rubin_SV_280_-48,2024-04-05 05:41:28.495641-03:00,5
256,15090,60405.389360,Rubin_SV_300_-41,2024-04-05 06:20:40.687794-03:00,5
257,15150,60405.416253,Rubin_SV_280_-48,2024-04-05 06:59:24.249586-03:00,5